/*First Challenge

body {
  position: relative;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 244);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 30px;
  box-shadow: rgba(135, 135, 135, 0.1) 0px 10px 15px -3px, rgba(135, 135, 135, 0.05) 0px 4px 6px -2px;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.nav-items > li {
  padding: 10px;
}

.logo {
  width: 60px;
}

.main-section {
  padding: 50px 30px;
}

.main-section li {
  padding-bottom: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(75, 75, 75);
  color: white;
  padding: 20px 30px;
}
*/






/***Project One

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  color: white;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  margin-right: 10px;
}

main {
  padding: 57px 30px;
  color: white;
  background-image: url("../public/logo512.png");
  background-size: 400px 400px;
  background-position: 120% 75%;
  background-repeat: no-repeat;
}

.main-title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--list {
  margin-top: 46px;
  max-width: 400px;
}

.main--list > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--list > li::marker {
  color: #61DAFB;
  font-size: 1.4em;
} */





/* Solo project 

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #23252C;
  color: white;
}

.container {
  background-color: #1A1B21;
  width: 317px;
  margin: 30px auto;
  border-radius: 10px;
}

.user--info {
  text-align: center;

}

.user--name {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 2px;
}

.user--title {
  color: #F3BF99;
  font-size: 13px;
  font-weight: 400;
  margin: 0px;
}

.user--website {
  font-size: 10px;
  font-weight: 400;
}

.card--button {
  display: flex;
  padding: 15px 35px;
  justify-content: space-between;
}

.email--button, 
.linkedin--button {
  display: flex;
  width: 115px;
  height: 34px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.email--button > img,
.linkedin--button > img {
  padding-right: 5px;
}


.email--button {
  background-color: white;
}

.linkedin--button {
  background-color: #5093E2;
}

.button--title {
  font-size: 14px;
  font-weight: 500px;
  margin: 0px;
}

.email--button .button--title {
  color: #374151;
  
}

.email--button .button--title {
  color: #374151;
}

.card--about,
.card-interests {
  padding: 25px 35px;
}

.card-interests {
  padding-top: 0px;
  padding-bottom: 50px;
}

.card--about > h4,
.card-interests > h4 {
  color: #F5F5F5;
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0px;
}

.card--about > p,
.card-interests > p {
  color: #DCDCDC;
  font-size: 10px;
  font-weight: 400;
  margin: 0px;
}

.social-links {
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}

.social-links > img {
  padding-right: 20px;
} */


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
}

nav {
  height: 70px;
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 20px 36px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}

.nav--logo {
  max-width: 100%;
}

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--image {
  align-self: center;
  max-width: 500px;
}

.hero--header {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
  width: 320px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  color: #222222;
}

.card {
  width: 175px;
  font-size: 12px;
  
}

.card--stats {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.card--star {
  height: 14px;
  margin-right: 2px;
}

.card--stats > span {
  font-weight: 300;
}

.card > p {
  margin: 8px 0;
}
